<div style="width: 500px; margin: 0 auto;text-align:left;padding-top:20px">
  <strong style="padding: 10px;">Hi, {{ username }}</strong><br />
  <p>
    You recently requested to reset your password for your Soudain Cards
    account. Click the button bellow to reset it.
  </p>
  <div
    style="background-color: #e9542a;text-align:center;height: 60px; width: 200px; margin: 0 auto;line-height: 60px;border-radius: 16px">
    <a href={{ url }} style="text-decoration: none">
      <p style="color: white;font-weight:bold">
        Reset your password
      </p>
    </a>
  </div>

  <p>From now on, you can change your password by clicking on this button until {{ expireMessage }}</p>
</div>