<strong>Olá, {{ username }}</strong>
<p>Vimos que você quer alterar sua senha</p>
<p>Clique no link abaixo para redefinir sua senha</p>
<strong>{{ url }}</strong>
<p>Esse link só valerá por 4 dias, {{ expireMessage }}</p>